.info{
    width: 90%;
    height:auto ;
    margin: 0 auto;
    margin-top: 150px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.linkTo{
    display: flex;
    gap: 3px;
    font-size: 16px;
}
.titleInfo{
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 15px;
    font-weight: 300;
}
.titleInfo img {
    width: 20px;
    height: 30px;
    transform: rotate(180deg);
}
.titleInfo h6{
    font-weight: 400;
    font-size: 32px;
}
.sort{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 160px;
    height: auto;
    font-size: 16px;
}
.sortImg{
    display: flex;
    align-items: center;
    gap: 1px;
}