.catalog{
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
.catalog h6{
    font-size: 32px;
    font-weight: 400;
}
.backg{
    width: 200px;
    height: 210px;
    background-color: #BCC5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.catalog-list{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.item p {
    font-size: 20px;
    font-weight: 300;
}
.backr {
    width: 20px;                /* квадрат */
    aspect-ratio: 1 / 1;        /* забезпечує круг */
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 45%;
    transform: rotate(180deg);
    cursor: pointer;
}