
.discounts{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
.h6 h6{
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 40px;
}
.h6 span {
    display: block;      
    height: 2px;
    background-color: #BCC5FF; 
}
.phones-list{
    width: 95%;
    margin-top: 40px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
}
.phone-image{
    display: flex;
    position: relative;
    background-color: antiquewhite;
    justify-content: center;
    width: 160px;
    height: 200px;
}
.phone-image span{
    position: absolute;
    background-color: #EBBA1A;
    color: black;
    width: 65px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    right: 0;
}

.textt{
    display: flex;
    justify-content: center;
}
.textt h1{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.phone-card{
    background-color: blueviolet;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.phone-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.phone-price p{
    font-size: 20px;
    font-weight: bold;
}
.phone-price span{
    padding: 5px 0 0 0;
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 300;
}