
.discounts{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}
.h6 h6{
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 40px;
}
.h6 span {
    display: block;      
    height: 2px;
    background-color: #BCC5FF; 
}
.hr span {
    display: block;      
    height: 2px;
    background-color: #BCC5FF; 
    margin-bottom: 100px;
}
.phones-list {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    position: relative;
}
.phone-image{
    display: flex;
    position: relative;
    justify-content: center;
    width: 160px;
    height: 200px;
    margin-top: 20px;
}
.phone-image span{
    position: absolute;
    background-color: #EBBA1A;
    color: black;
    width: 65px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    right: 0;
}

.textt{
    margin-top: 15px;
    margin-bottom: 15px;
}
.textt h1{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.phone-card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex: 0 0 250px;
}
.phone-card:hover{
    box-shadow: -2px -1px 50px -40px rgba(0,0,0,0.75);
}
.phone-price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.phone-price p{
    font-size: 20px;
    font-weight: bold;
}
.phone-price span{
    padding: 5px 0 0 0;
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 300;
}

.instock{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heart{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: -2px -1px 99px -5px rgba(0,0,0,0.75);
}
.heart img{
    width: 18px;
    height: 15px;
    cursor: pointer;
}

/* IN STOCK */
.phone-instock-true{
    font-size: 14px;
    font-weight: 300;
    color: #169B00;
}
.phone-instock-false{
    font-size: 14px;
    font-weight: 300;
    color: red;
}
.button{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border: none;
    background-color: #091D9E ;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
.buttonfalse{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border: none;
    background-color: hsl(0, 0%, 85%) ;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 20px;
}
.buttonremove{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border: none;
    background-color: hsl(0, 0%, 85%);
    color:black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.1s ease-in;
}


/* arrows */

.backr2 {
    width: 30px;                /* квадрат */
    aspect-ratio: 1 / 1;        /* забезпечує круг */
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    left: 0px;
    top: 40%;
    cursor: pointer;
    z-index: 20;
    transform: rotate(180deg);
} 