.logo-h1{
    display: inline-block;               /* важливо: градієнт прив’язується до тексту */
    background: linear-gradient(90deg, rgba(89,0,111,1) 0%, rgba(38,13,193,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}
.header{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.input{    
    position: relative;
}

.input-type{
    width: 750px;
    height: 40px;
    background-color: #DEDEDE;
    border: none;
    border-radius: 8px;
    padding-left: 50px;
    font-size: 16px;
    color: black;
}
.input img{
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 100;
    left: 20px;
    top: 13px;
    cursor: pointer;
}
.navUser {
    display: flex;
    gap: 30px;
}

.navUser img{
    width: 20px;
    height: 20px;
    cursor: pointer;

}
.liUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}
.liUser h3 {
    font-size: 14px;
    font-weight: 400;
    opacity: 70%;
}
.vertical-hr{
    width: 100%;
    height: 1px;
    background-color: #C1C1C1;
    border: none;
}

.cart-count{
    position: absolute;
    width: 22px;
    height: 22px;
    color: white;
    z-index: 100;
    background-color: RED;
    border: 1px solid hsl(0, 100%, 49%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    right: -5px;
    top: -15px;
}